<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="add">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="nameInput">
        </label>
        <label class="item item-input">
          <span class="input-label">Party Size</span>
          <input type="number" ng-model="sizeInput">
        </label>
      </div>
      <div class="submit-btn">
        <button class="button icon-left ion-checkmark button-positive" ng-click="addCount(nameInput, sizeInput); nameInput = null; sizeInput = null;">Submit</button>
      </div>
    </div>
    <div class="list-dp">
      <ul class="list">
        <li class="item" ng-repeat="x in reservationHandler.waitingListQueue" ng-click="removeUser(x.username)">
          {{x.username}}
          <span class="item-note">
            {{x.partySize}}
          </span>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
