<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="add">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Party Size</span>
          <input type="number">
        </label>
      </div>
      <div class="submit-btn">
        <button class="button icon-left ion-checkmark button-positive" ng-click="addCount()">Submit</button>
      </div>
    </div>
    <div class="list-dp">
      <ul class="list">
        <li class="item">
          Chris
          <span class="item-note">
            4
          </span>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
